@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "normalize.css";
@import "prism.css";

.main-container {
    width: 60vw;
    margin: auto;
    
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.heading {
    text-align: center;
    margin-bottom: 1.5em;
}

.item {
    border: 2px solid antiquewhite;
    border-radius: 13px;
    background-color: antiquewhite;
    padding: 0.8em;
    cursor: pointer;
    margin-bottom: 1em;
}

.item h3 {
    margin-top: 0;
}

.item p {
    margin-bottom: 0;
}