<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- stfu no -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<meta property="og:image" content="https://blog.phoenixthrush.com/assets/favicon/android-chrome-512x512.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://blog.phoenixthrush.com/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://blog.phoenixthrush.com/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://blog.phoenixthrush.com/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="https://blog.phoenixthrush.com/assets/favicon/site.webmanifest">
<link rel="shortcut icon" href="https://blog.phoenixthrush.com/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://blog.phoenixthrush.com/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">

<!-- Setup Dark Theme -->

<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.31/darkreader.min.js"></script>
<script>
    DarkReader.auto({
        brightness: 100,
        contrast: 90,
        sepia: 10
    });
    DarkReader.auto();
</script>

<!-- end custom head snippets -->
